# PYTHON BASICS

## Introduction to Python
 
 - created by Guido van Rossum 
 - general-purpose, high-level language
 - interpreter; not compiler
 - interactive, open source, good at system integrations
 - ideal for projects that require quick development
 - good for programs that require flexibility
 - have many packages and modules that save your time

 ### Important features:
 
 - Scripting language -> dynamic programming language -> good for quick development and prototyping because they're good at passing messages from one component to another and at handling fiddly stuff like memory management so that the programmer doesn't have to (a script is a program that controls other programs).
 - Indentation for statement grouping: Python specifies that several statements are part of a single group by indenting them. The indented group is called a code block. Indentation makes code easier to read, and code blocks set off with indentation have fewer begin/end words and punctuation to accidentally leave out (which means fewer bugs).
 - High-level data types: Computers store everything in 1s and 0s, but humans need to work with data in more complex forms, such as text. A language that supports such complex data is said to have high-level data types. A high-level data type is easy to manipulate. For example; Python strings can be searched, sliced, joined, split, set to upper- or lowercase, or have white space removed. High-level data types in Python, such as lists and dicts (which can store other data types), encompass much more functionality than in other languages.
 - Extensibility: An extensible programming language can be added to. These languages are very powerful because additions make them suitable for multiple applications and operating systems. Extensions can add data types or concepts, modules, and plug-ins. Python is extensible in several ways.
 - Interpreted: Interpreted languages run directly from source code that humans generate (whereas programs written in compiled languages, like C++, must be translated to machine code before they can run). Interpreted languages run more slowly because the translation takes place on the fly, but development and debugging is faster because you don't have to wait for the compiler. Interpreted languages are easier to run on multiple operating systems. In the case of Python, it's easy to write code that works on multiple operating systemsâ€”with no need to make modifications.
 - Python is a multi-paradigm language (meaning it supports more than one style or philosophy of programming). This makes it good for applications that benefit from a flexible approach to programming.

### Advantages

- Python can be embedded in other applications and used for creating macros.
- Python is free for anyone to use and distribute (commercially or noncommercially).
- Python has powerful text manipulation and search features for applications that process a lot of text information.
- You can build large applications with Python, even though it doesn't check programs before they run. In technical terms, Python doesn't have compile-time checking. Python supports large programs by connecting multiple modules together and bundling them into packages. Each module can be built and tested separately.
- Python includes support for testing and error-checking both of individual modules and of whole programs.
- You can run Python in interactive mode. In interactive mode, you can tell Python what to do one instruction at a time, or you can write small portions of code to see how Python handles them. In this way you can learn by doing, trying things out at your own pace.

### Disadvantages

- Python is an interpreter language. Interpreter languages are slower than compiler languages.
- Python is a high-level language that uses many layers to communicate with the computer's hardware and operating system.
- Python might not be the best choice for building the following types of applications and systems: 1- Graphics-intensive applications, such as action games. But some games use Python because specialized modules can be written to interface with hardware. The pygame module is one such package. (Modern computers are extremely fast, which means it's more important to be able to write clean code quickly than to get maximum speed out of the software, except for the most graphics-intensive games.) 2- The foundations of an operating system

## Basic Python Codes

### Assigning a Value to a Variable

= is used to associate a name with a value

the **def** statement (which defines a function) and the **class** statement (which defines a class) also create names

In [78]:
n = 5

In [79]:
n

5

In [80]:
pi = 3.14

In [81]:
pi

3.14

In [82]:
pi + n

8.14

In [83]:
myname = "Betty"

In [84]:
myname

'Betty'

### Naming rules:

- names must start with either a letter or an underscore character (_)
- you can't use any of Python's reserved words or keywords (like 'False', 'None', 'true'...)
- names are case sensitive
- it's a good idea to use meaningful names

In [22]:
_name = "hello"

In [23]:
_name

'hello'

In [24]:
if = "world"

SyntaxError: invalid syntax (<ipython-input-24-51ce4b4490ac>, line 1)

In [25]:
name = "little"

In [26]:
Name = "small"

In [27]:
name

'little'

In [28]:
Name

'small'

### del

deletes variables

In [56]:
y = 23

In [57]:
y

23

In [58]:
del y

In [59]:
y

NameError: name 'y' is not defined

## Data Types in Python

numbers, strings, dictionaries, sets, files...

### numbers

numbers are for data that you want to do math with

**integers (int)** - for whole numbers

**floating point numbers (float)** - for real numbers

**complex numbers (complex)** - for imaginary numbers

In [10]:
type(2)

int

In [11]:
type(2.25)

float

In [29]:
type(3 + 4j)

complex

### strings (str)

store text or binary data

cannot be changed - immutable

you can do operations with strings

you can use ' ', " " or """ """ (""" """ can be used with multiple lines)

In [46]:
strn_ex = "hej!"

In [47]:
type(strn_ex)

str

In [4]:
'a' + 'b'

'ab'

In [5]:
'a' 'b'

'ab'

In [6]:
'a' ' b'

'a b'

In [7]:
'a' * 3

'aaa'

In [87]:
"betty's home"

"betty's home"

In [88]:
'welcome to "Python"'

'welcome to "Python"'

In [89]:
""" Python is a programming language.
Enjoy it!"""

' Python is a programming language.\nEnjoy it!'

In [91]:
"hello'

SyntaxError: EOL while scanning string literal (<ipython-input-91-f0eb84404e89>, line 1)

### lists (list)

can store multiple kinds of data (ex: both text and numbers...)

you can change elements inside a list and organize the data - mutable

In [43]:
lis_ex = ["my", "list", 7]

In [44]:
type(lis_ex)

list

### tuples (tuple)

can store different kinds of data

cannot be changed - immutable

In [41]:
tupl_ex = ("m", "l", 4)

In [42]:
type(tupl_ex)

tuple

### dictionaries (dict)

stores multiple data elements of different types

each element is associated with a unique key

elements aren't numbered

dictionaries are mutable but their keys are immutable

In [48]:
dic_ex = {"hej": "hi", "hejdo": "bye"}

In [49]:
type(dic_ex)

dict

### sets (set)

store multiple items of different types

each item in a set must be unique

elements are out of order

you can use set() to find each unique element in a list

In [52]:
set_ex = set(['little', 'sunshine'])

In [53]:
type(set_ex)

set

In [54]:
mylist = ["try", "to", "try", "learn", "python", "learn"]

In [55]:
set(mylist)

{'learn', 'python', 'to', 'try'}

### files (file)

file type is Python's internal representation of a computer on internet file

you need to open the file inside Python with open("file_name")

***Python determines the type of a variable itself (str, int, float or complex):***

In [64]:
mynum = 35

In [65]:
type(mynum)

int

In [66]:
mystr = "mvk"

In [67]:
type(mystr)

str

In [68]:
myflo = 12.4

In [69]:
type(myflo)

float

In [70]:
mycomp = 1 + 2j

In [71]:
type(mycomp)

complex

***Also you can change the type of the variable:***

In [72]:
k = "11"

In [73]:
l = "10"

In [74]:
k + l

'1110'

In [75]:
int(k) + int(l)

21

In [50]:
str(2) + str(3)

'23'

In [51]:
type(int(11.1))

int

In [52]:
type(float(11))

float

## Mathematical and Artihmetic Operations

Python can be used as a calculator

(+) : addition

(()) : grouping

(*) : multiplication

(**) : exponentiation

(<) : less than

(>) : greater than

(==) : equal to

(!=) : not equal to

or : true if at least one condition is true

and : false if at least one condition is false

In [13]:
9 + 1

10

In [13]:
80 / 5

16.0

In [14]:
15 / 4

3.75

In [15]:
8 - 3

5

In [12]:
(2 + 3) * 4

20

In [99]:
2**4

16

In [100]:
4 == 4

True

In [101]:
4 == 5

False

In [102]:
3 < 5

True

In [103]:
3 > 5

False

In [106]:
"a" < "b"

True

In [107]:
"c" > "d"

False

In [109]:
"Z" < "a"

True

In [104]:
4 != 4

False

In [105]:
4 != 5

True

In [17]:
'1' + 8

TypeError: can only concatenate str (not "int") to str

In [110]:
(2<3) or (3>5)

True

In [111]:
(2<3) and (3>5)

False

## Basic Functions

codes that carry out specific operations and return the results of these operations - print(), len(), type()...

### help()

you can get help on built-in functions by using help()

In [16]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

### print()

prints a string

parameters: sep, end, file

**sep** (separator) - default value is " "

**end** - default value is \n (new line)

**file** - default value is sys.stdout

writing * before the string separates each element

In [1]:
print("Hello, World!")

Hello, World!

In [92]:
print("life","is","beautiful")

life is beautiful

In [93]:
print("life","is","beautiful",sep="")

lifeisbeautiful

In [95]:
print("www","python","org",sep=".")

www.python.org

In [96]:
print("hello world", end="!")

hello world!

In [98]:
print(*"helloworld")

h e l l o w o r l d

In [97]:
print(*"hello", sep=".")

h.e.l.l.o

In [85]:
year = "2009"

In [86]:
print(year)

2009

### type()

tells the type of the variable, whether string or integer or float

In [1]:
type("hello")

str

In [2]:
type(5)

int

In [3]:
type("5")

str

### len()

measures the length of a string

In [9]:
len("hello world")

11

In [76]:
len("my name is") + len("Betty")

15

In [77]:
type(len("world"))

int

### split()

breaks a string into separate words and returns a list of the words

In [10]:
"life is beautiful".split()

['life', 'is', 'beautiful']

### abs()
makes each number positive

In [18]:
abs(-3)

3

### divmod()
gives elements of division

In [20]:
divmod(12, 7)

(1, 5)

### max()
gives max value

In [22]:
max([1,2,3,4,5])

5

### min()
gives min value

In [23]:
min([1,2,3,4,5])

1

### sum()
sum up numbers

In [24]:
sum([1,2,3,4,5])

15

### round()

rounds of a floating number to the nearest whole number

In [17]:
round(2.3)

2

In [19]:
round(3.6)

4

# CONTROL DECISION STRUCTURES

In [1]:
avg = 5000

In [2]:
avg == 5000

True

In [3]:
avg == 3000

False

## if statements

The first line always begins with if; subsequent tests begin with elif, and you can add an else clause that runs if all the tests fail.

In [9]:
score = 6000

In [10]:
if score < 5000:
    print("fail")
else:
    print("win")

win

In [11]:
x = 900

In [12]:
if x > score:
    print("no support")
elif x < 1000:
    print("A class support")
else:
    print("B class support")

A class support

## for loops

In [13]:
salary = [1000, 2000, 3000, 4000, 5000]

In [14]:
for i in salary:
    print(i)

1000
2000
3000
4000
5000

In [15]:
for i in salary:
    print(i*20)

20000
40000
60000
80000
100000

In [16]:
salary

[1000, 2000, 3000, 4000, 5000]

**using function and loop together:**

In [29]:
def new_salary(x):
    print(x*20/100 + x)

In [30]:
new_salary(1000)

1200.0

In [31]:
for i in salary:
    new_salary(i)

1200.0
2400.0
3600.0
4800.0
6000.0

**using for loop, function and if together:**

In [32]:
new_salary = [1000, 2000, 3000, 4000, 5000]

In [33]:
def new_salary_upper(x):
    print(x*10/100 + x)

In [34]:
def new_salary_lower(x):
    print(x*20/100 + x)

In [35]:
for i in new_salary:
    if i >= 3000:
        new_salary_upper(i)
    else:
        new_salary_lower(i)

1200.0
2400.0
3300.0
4400.0
5500.0

## break & continue

In [36]:
avg_sale = [100, 90, 80, 110, 90,150]

In [37]:
for i in avg_sale:
    if i == 110:
        print("unexpected value")
        break
    print(i)

100
90
80
unexpected number

In [38]:
for i in avg_sale:
    if i == 110:
        print("unexpected value")
        break
    else:
        print(i)

100
90
80
unexpected value

In [40]:
for i in avg_sale:
    if i == 110:
        continue
    print(i)

100
90
80
90
150

## while loops

In [34]:
sayi = 1

In [35]:
while sayi < 5:
    sayi += 1
    print(sayi)

2
3
4
5

# References:

udemy.com / Data Science and Machine Learning with Python Online Course - Mustafa Vahit Keskin

Python for Dummies

coursera.com / Python for Genomic Data Science