# DATA STRUCTURES 

# lists, tuples, dictionaries, sets

Each data type has built-in actions associated with it, which let you to do various things with the data. These actions are called **methods**.

## lists
changable, can contain different data types, represented with [] or list()

In [1]:
mylist = ["a", "b", "c"]

In [2]:
type(mylist)

list

In [3]:
mylist_2 = ["ab", 1, 2.5]

In [4]:
mylist_3 = ["d", 2, 3, ["a", "b"]]

### len()
used to learn length of the list

In [5]:
len(mylist)

3

In [6]:
len(mylist_3)

4

**you can use [] to call a specific index; indexing begins with 0**

In [7]:
mylist[0]

'a'

In [8]:
mylist_3[3]

['a', 'b']

In [9]:
type(mylist_3[3])

list

In [10]:
type(mylist[0])

str

In [11]:
type(mylist_3[1])

int

In [12]:
ida = "helloida"

In [13]:
type(ida)

str

In [14]:
listedida = list(ida)

In [15]:
type(listedida)

list

In [16]:
listedida

['h', 'e', 'l', 'l', 'o', 'i', 'd', 'a']

In [17]:
type(listedida[0])

str

In [18]:
lista = [1,2]

In [19]:
listb = ["a", "b"]

In [20]:
listab = [lista, listb]

In [21]:
listab

[[1, 2], ['a', 'b']]

In [22]:
fis = "ali uzaya git"

### indexing

In [23]:
fis[0]

'a'

In [24]:
fis[13]

IndexError: string index out of range

In [25]:
fis[len(fis) - 1]

't'

In [26]:
fis[0:3]

'ali'

In [27]:
fis[-1]

't'

In [28]:
fis[1:]

'li uzaya git'

In [29]:
fis[:8]

'ali uzay'

In [30]:
fis[:-2]

'ali uzaya g'

In [31]:
listek = ["a", 1, 789, [3,5,7]]

In [32]:
listek[3][0]

3

In [33]:
yeniliste = listek[3]

In [34]:
yeniliste

[3, 5, 7]

**for an operation on each element of a list, we use loops**

In [35]:
for i in yeniliste:
    print(i)

3
5
7

In [36]:
for i in yeniliste:
    print(i*2)

6
10
14

In [37]:
list6 = ["ali", "veli", "isik", "ayse"]

In [38]:
list6[1]

'veli'

In [39]:
list6[1] = "ipek"

In [40]:
list6

['ali', 'ipek', 'isik', 'ayse']

In [41]:
list6[1:3] = "ipekyeni", "isikyeni"

**to add a new element to a list, you should do assignment**

In [42]:
list6 = list6 + ["kemal"]

In [43]:
list6

['ali', 'ipekyeni', 'isikyeni', 'ayse', 'kemal']

In [44]:
del list6[0]

In [45]:
list6

['ipekyeni', 'isikyeni', 'ayse', 'kemal']

### list methods
to get usable methods of a data structure; use dir()

In [46]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [47]:
list7 = ["ali", "veli", "isik"]

In [48]:
list7.append("berkcan")

In [49]:
list7

['ali', 'veli', 'isik', 'berkcan']

In [50]:
list7.remove("berkcan")

In [51]:
list7

['ali', 'veli', 'isik']

In [52]:
list7.insert(0,"ayse")

In [53]:
list7

['ayse', 'ali', 'veli', 'isik']

In [54]:
list7[0] = "nese"

In [55]:
list7

['nese', 'ali', 'veli', 'isik']

In [56]:
list7.insert(len(list7), "berke")

In [57]:
list7

['nese', 'ali', 'veli', 'isik', 'berke']

In [58]:
list7.insert(-1, "ipek")

In [59]:
list7

['nese', 'ali', 'veli', 'isik', 'ipek', 'berke']

In [60]:
list7.pop(0)

'nese'

In [61]:
list7

['ali', 'veli', 'isik', 'ipek', 'berke']

In [62]:
list7.pop(len(list7) - len(list7))

'ali'

In [63]:
list7

['veli', 'isik', 'ipek', 'berke']

In [64]:
list7.pop(len(list7))

IndexError: pop index out of range

In [65]:
list7.pop(len(list7)-1)

'berke'

In [66]:
list7

['veli', 'isik', 'ipek']

In [67]:
list7.extend(["a"])

In [68]:
list7

['veli', 'isik', 'ipek', 'a']

## tuples
contains different types of data; differently from lists: you cannot make change on tuples

In [69]:
t = ("ali", "veli", 1, 2, 3, [1,2])

In [70]:
p = "ali", "veli", 1, 2, [1,2,3]

In [71]:
k = tuple("abcd")

In [72]:
l = ("abcd")

In [73]:
t

('ali', 'veli', 1, 2, 3, [1, 2])

In [74]:
p

('ali', 'veli', 1, 2, [1, 2, 3])

In [75]:
k

('a', 'b', 'c', 'd')

In [76]:
l

'abcd'

In [77]:
type(t)

tuple

In [78]:
type(k)

tuple

In [79]:
type(p)

tuple

In [80]:
type(l)

str

**tuple with 1 element is supposed to be string. in order to create a tuple with 1 element, use a ","**

In [81]:
m = ("abcd",)

In [82]:
m

('abcd',)

In [83]:
type(m)

tuple

### element operations

In [84]:
tup = ("ali", "veli", 1,2, [1,2,3])

In [85]:
tup[0]

'ali'

In [86]:
type(tup[0])

str

In [87]:
tup[0:3]

('ali', 'veli', 1)

In [88]:
tup[2] = 5

TypeError: 'tuple' object does not support item assignment

**tuple cannot be changed. if you want to create unchangable list, use tuple.**

## dictionaries
no indexing

In [89]:
sozluk = {"reg": "regresyon modeli",
         "loj": "lojistik regresyon",
         "cart": "classification"}

In [90]:
sozluk

{'reg': 'regresyon modeli',
 'loj': 'lojistik regresyon',
 'cart': 'classification'}

In [91]:
len(sozluk)

3

In [92]:
type(sozluk)

dict

In [93]:
sozluk2 = {"reg": 10,
          "loj": 11,
          "cart": 12}

In [94]:
sozluk2

{'reg': 10, 'loj': 11, 'cart': 12}

In [95]:
sozluk3 = {"reg": ["RMSE", 10],
          "loj": ["MSE", 11],
          "cart": ["SSE", 12]}

In [96]:
sozluk3

{'reg': ['RMSE', 10], 'loj': ['MSE', 11], 'cart': ['SSE', 12]}

In [97]:
sozluk[0]

KeyError: 0

**you cannot call 0th index because no indexing in dictionary**

In [98]:
sozluk["reg"]

'regresyon modeli'

In [99]:
sozluk2["loj"]

11

In [100]:
sozluk3["cart"]

['SSE', 12]

In [101]:
sozluk4 = {"reg": {"RMSE": 10,
                  "MSE": 11,
                  "SSE": 12},
           "loj": {"RMSE": 100,
                   "MSE": 111,
                   "SSE": 122},
           "cart": {"RMSE": 1,
                    "MSE": 2,
                    "SSE": 3}}

In [102]:
sozluk4

{'reg': {'RMSE': 10, 'MSE': 11, 'SSE': 12},
 'loj': {'RMSE': 100, 'MSE': 111, 'SSE': 122},
 'cart': {'RMSE': 1, 'MSE': 2, 'SSE': 3}}

In [103]:
sozluk4["loj"]["SSE"]

122

### adding new item to dictionary

In [104]:
sozluk

{'reg': 'regresyon modeli',
 'loj': 'lojistik regresyon',
 'cart': 'classification'}

In [105]:
sozluk["gbm"] = "gradient boosting mach"

In [106]:
sozluk

{'reg': 'regresyon modeli',
 'loj': 'lojistik regresyon',
 'cart': 'classification',
 'gbm': 'gradient boosting mach'}

### changing an item in dictionary

In [107]:
sozluk["reg"] = "coklu regresyon modeli"

In [108]:
sozluk

{'reg': 'coklu regresyon modeli',
 'loj': 'lojistik regresyon',
 'cart': 'classification',
 'gbm': 'gradient boosting mach'}

In [109]:
sozluk[1] = "yapay sinir aglari"

In [110]:
sozluk

{'reg': 'coklu regresyon modeli',
 'loj': 'lojistik regresyon',
 'cart': 'classification',
 'gbm': 'gradient boosting mach',
 1: 'yapay sinir aglari'}

key values in dict must be a constant data structure; e.g. cannot be a list

In [111]:
listem = [1]

In [112]:
listem

[1]

In [113]:
sozluk[listem] = "yeni model"

TypeError: unhashable type: 'list'

In [114]:
sozluk

{'reg': 'coklu regresyon modeli',
 'loj': 'lojistik regresyon',
 'cart': 'classification',
 'gbm': 'gradient boosting mach',
 1: 'yapay sinir aglari'}

In [115]:
f = ("tuple",)

In [116]:
f

('tuple',)

In [117]:
sozluk[f] = "light gbm"

In [118]:
sozluk

{'reg': 'coklu regresyon modeli',
 'loj': 'lojistik regresyon',
 'cart': 'classification',
 'gbm': 'gradient boosting mach',
 1: 'yapay sinir aglari',
 ('tuple',): 'light gbm'}

## sets
no indexing, each element can be in a set only 1 time, changable

In [119]:
s1 = set()

In [120]:
type(s1)

set

In [121]:
listem2 = [1, "a", "b", 123]

In [122]:
listem2

[1, 'a', 'b', 123]

In [123]:
s1 = set(listem2)

In [124]:
s1

{1, 123, 'a', 'b'}

In [125]:
tup3 = ("a", "ali")

In [126]:
tup3

('a', 'ali')

In [127]:
s2 = set(tup3)

In [128]:
s2

{'a', 'ali'}

In [129]:
s3 = {"d", 12}

In [130]:
s3

{12, 'd'}

In [131]:
type(s3)

set

In [132]:
s3[0]

TypeError: 'set' object is not subscriptable

In [133]:
ela = "hello ela"

In [134]:
type(ela)

str

In [135]:
s4 = set(ela)

In [136]:
s4

{' ', 'a', 'e', 'h', 'l', 'o'}

In [137]:
listem5 = ["ela", "buraya", "gel", "ela"]

In [138]:
listem5

['ela', 'buraya', 'gel', 'ela']

In [139]:
s5 = set(listem5)

In [140]:
s5

{'buraya', 'ela', 'gel'}

In [141]:
len(s5)

3

In [142]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [143]:
listem6 = ["ali", "ata", "bak", "ali"]

In [144]:
s6 = set(listem6)

In [145]:
s6

{'ali', 'ata', 'bak'}

In [146]:
s6.add("lutfen")

In [147]:
s6

{'ali', 'ata', 'bak', 'lutfen'}

In [148]:
s6.add("ali")

In [149]:
s6

{'ali', 'ata', 'bak', 'lutfen'}

**you can add only unchangable data structures (e.g. strings, numbers, tuples) to the sets. you can't add changable ones (lists, dicts, sets)**

In [150]:
s6.remove("ali")

In [151]:
s6

{'ata', 'bak', 'lutfen'}

In [152]:
s6.remove("ali")

KeyError: 'ali'

### operations on sets

In [153]:
s7 = set([1,3,5])

In [154]:
s8 = set([1,2,3])

In [155]:
s7.difference(s8)

{5}

In [156]:
s8.difference(s7)

{2}

In [157]:
s7.symmetric_difference(s8)

{2, 5}

In [158]:
s7 - s8

{5}

In [159]:
s8 - s7

{2}

In [160]:
s7 + s8

TypeError: unsupported operand type(s) for +: 'set' and 'set'

yes - but no +

In [161]:
s7.intersection(s8)

{1, 3}

In [162]:
s8.intersection(s7)

{1, 3}

In [163]:
s7 & s8

{1, 3}

In [164]:
s7.union(s8)

{1, 2, 3, 5}

In [165]:
birlesim = s8.union(s7)

In [166]:
birlesim

{1, 2, 3, 5}

In [167]:
kesisim = s7.intersection(s8)

In [168]:
kesisim

{1, 3}

In [169]:
s7.intersection_update(s8)

In [170]:
s7

{1, 3}

### query

In [171]:
s11 = set([7,8,9])

In [172]:
s22 = set([5,6,7,8,9,10])

In [173]:
s11.isdisjoint(s22)

False

**to learn whether the intersection of two sets is empty or not, use isdisjoint(); False: not empty - True: empty**

**to learn whether all elements of a set exist in another tuple, use issubset; True: yes it is subset of other - False: no it is not**

In [174]:
s11.issubset(s22)

True

to learn whether a set cover all elements of other tuple, use issuperset. True: yes it covers the other set. False: no it does not.

In [175]:
s22.issuperset(s11)

True

# References:

udemy.com / Data Science and Machine Learning with Python Online Course

Python for Dummies

coursera.com / Python for Genomic Data Science